/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 1000px;
  background-image: url(../images/1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1220px) {
  header img {
    display: none;
  }
}
header .container {
  width: 100%;
  height: 136px;
  background-color: #79967b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
}
header .container .div1 {
  width: 95%;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 900px) {
  header .container .div1 {
    width: 90%;
  }
}
header .container .div1 img {
  width: 300px;
}
header .container .div1 .div2 {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  header .container .div1 .div2 {
    width: 90%;
    justify-content: space-between;
  }
}
header .container .div1 .div2 form {
  width: 560px;
  height: 40px;
}
header .container .div1 .div2 form input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: gray;
  text-align: center;
  border: none;
}
header .container .div1 .div2 form .fa-magnifying-glass {
  position: absolute;
  margin-top: 18px;
  margin-left: 10px;
}
header .container .div1 button {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
}
@media (max-width: 900px) {
  header .container .div1 button {
    display: none;
  }
}
header .container .div1 button .fa-caret-up {
  margin-right: 10px;
}
header .container .div1 button .fa-caret-up:hover {
  opacity: 0.6;
}
header .container .div1 button h2 {
  color: #eae2e2;
  font-size: 25px;
  font-family: Helvetica;
}
header .container .div1 button h2:hover {
  opacity: 0.6;
}
header .container .div1 button .fa-heart:hover {
  opacity: 0.6;
}
header .container .div1 select {
  width: 100px;
  height: 30px;
  background-color: #eae2e2;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
header .container .div1 select:hover {
  opacity: 0.8;
}
header .container .div1 select option {
  font-family: Helvetica;
  font-size: 15px;
  color: #514242;
}
header .container .div1 select .categories {
  display: none;
}
header .container .div1 .favorites {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .div1 .favorites:hover {
  opacity: 0.8;
}
header .container .div1 .favorites .fa-heart {
  margin-right: 10px;
}
header .container .div1 .fa-bars {
  display: none;
}
@media (max-width: 900px) {
  header .container .div1 .fa-bars {
    display: block;
  }
}
header .container .div1 .fa-user {
  cursor: pointer;
}
header .container .div1 .fa-user:hover {
  opacity: 0.5;
}
header .register-form {
  display: none;
  position: fixed;
  left: 550px;
  top: 250px;
  z-index: 9;
}
header .register-form .form-container {
  max-width: 400px;
  background-color: white;
  padding: 10px;
}
header .register-form .form-container h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
header .register-form .form-container label {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
header .register-form .form-container input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
header .register-form .form-container .btn {
  background-color: #1a9f6e;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
header .register-form .form-container .btn:hover {
  opacity: 1;
}
header .register-form .form-container .cancel {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
header .register-form .form-container .cancel:hover {
  opacity: 1;
}

.container2 {
  width: 100%;
  height: 72px;
  background-color: rgba(121, 150, 132, 0.9098039216);
  opacity: 0.7;
}
@media (max-width: 900px) {
  .container2 {
    display: none;
  }
}
.container2 nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 100%;
}
.container2 nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container2 nav ul a {
  color: #f8f8f8;
  font-family: Helvetica;
  font-size: 20px;
}
.container2 nav ul a:hover {
  opacity: 0.6;
}

.div5 h2 {
  font-family: cursive;
  font-size: 100px;
  color: #484141;
  margin-top: 20px;
  margin-left: 20px;
}
.div5 h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #514242;
  margin-top: 30px;
  margin-left: 100px;
}

section {
  width: 100%;
}
section .container {
  width: 100%;
  margin-top: 120px;
}
section .container .div1 {
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
section .container .div1 h1 {
  font-family: Helvetica;
  font-size: 30px;
}
section .container .div1 h3 {
  font-family: Helvetica;
  color: #a18686;
  cursor: pointer;
}
section .container .div1 h3:hover {
  opacity: 0.7;
  text-decoration: underline;
}
section .container .card-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
section .container .card-wrapper .card {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .container .card-wrapper .card:hover {
  opacity: 0.8;
}
section .container .card-wrapper .card img {
  width: 100%;
  height: 100%;
  position: relative;
  filter: brightness(50%);
  border-radius: 10px;
}
section .container .card-wrapper .card h2 {
  color: #f8f8f8;
  font-family: Helvetica;
  font-size: 40px;
  position: absolute;
}
section .container .fa-arrow-right:hover {
  opacity: 0.7;
}
section .container2 {
  margin: 0 auto;
  width: 83%;
  height: 600px;
  background-image: url(../images/8.jpeg);
  background-size: cover;
  margin-top: 120px;
  margin-bottom: 74px;
  border-radius: 10px;
  filter: brightness(70%);
  border: 1px solid white;
  opacity: 1;
}
section .container2 .Yoga h2 {
  font-family: cursive;
  font-size: 40px;
  color: white;
  margin-top: 60px;
  margin-left: 70px;
}
section .container2 .Yoga h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #514242;
  margin-top: 30px;
  margin-left: 150px;
  color: #eae2e2;
}
section .container2 p {
  font-size: 25px;
  width: 400px;
  margin-left: 840px;
  color: white;
  font-family: Hevetica, sans-serif;
}
section .container2 .readmore {
  width: 140px;
  height: 60px;
  background-color: #79967b;
  border-radius: 10px;
  margin-left: 90px;
  margin-top: 80px;
  border: none;
}
section .container2 .readmore:hover {
  opacity: 0.7;
}
section .container2 .readmore h4 {
  color: #f8f8f8;
  font-family: Helvetica;
  font-size: 20px;
}
section .container2 .readmore h4:hover {
  opacity: 0.6;
}

.s-3 {
  width: 100%;
  height: 750px;
  background-color: rgba(234, 231, 231, 0.937254902);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.s-3 h2 {
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 210px;
}
.s-3 .card-wrapper2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
}
.s-3 .card-wrapper2 .card1 {
  width: 400px;
  height: 550px;
  border: 1px solid rgb(70, 68, 68);
  border-radius: 20px;
}
.s-3 .card-wrapper2 .card1 img {
  width: 100%;
  height: 55%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.s-3 .card-wrapper2 .card1 .card-body {
  width: 100%;
  height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
}
.s-3 .card-wrapper2 .card1 .card-body h5 {
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
}
.s-3 .card-wrapper2 .card1 .card-body p {
  font-family: Helvetica;
  font-size: 20px;
  width: 250px;
}
.s-3 .card-wrapper2 .card1 .card-body .a {
  width: 150px;
  height: 50px;
  background-color: rgba(17, 114, 78, 0.9450980392);
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.s-3 .card-wrapper2 .card1 .card-body .a:hover {
  opacity: 0.7;
}
.s-3 .card-wrapper2 .card1 .card-body .a a {
  color: #f1f1f1;
  font-family: sans-serif;
  font-size: 25px;
  width: 100%;
  margin-left: 10px;
}

footer {
  max-width: 100%;
}
footer button {
  width: 100%;
  height: 72px;
  background-color: #7ea68d;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  cursor: pointer;
}
footer button:hover {
  background-color: rgba(126, 166, 141, 0.7725490196);
}
footer button h2 {
  color: #eae2e2;
  font-weight: bold;
}
footer .container {
  width: 100%;
  height: 300px;
  background-color: #79967b;
  display: flex;
  justify-content: space-around;
}
footer .container .card1 {
  max-width: 300px;
  height: 100%;
}
footer .container .card1 img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
footer .container .card1 h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #514242;
  color: #eae2e2;
}
footer .container .card2 {
  width: 100px;
  display: flex;
  align-items: center;
}
footer .container .card2 ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer .container .card2 ul li {
  margin-top: 10px;
  line-height: 25px;
}
footer .container .card2 ul li a {
  color: #f8f8f8;
  font-family: Helvetica;
  font-size: 20px;
}
footer .container .card2 ul li a:hover {
  opacity: 0.6;
}
footer .container .card3 {
  width: 160px;
  display: flex;
  align-items: center;
}
footer .container .card3 ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer .container .card3 ul li {
  margin-top: 10px;
  line-height: 25px;
}
footer .container .card3 ul li a {
  color: #f8f8f8;
  font-family: Helvetica;
  font-size: 20px;
}
footer .container .card3 ul li a:hover {
  opacity: 0.6;
}
footer .container .card4 {
  width: 200px;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}/*# sourceMappingURL=global.css.map */